

:root {
    --violet: #8f00ff;
    --violet-medium: #e8ccff;
    --violet-light: #FBF7FF;
    --orange: #ffbf00;
    --green: #00ffbf;
    --pink: #ff00c0;
    --black: #222222;
    --spacing-s: 5px;
    --spacing-m: 10px;
    --spacing-l: 20px;
    --radius-inner: 10px;
    --radius-outer: 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    background-color: var(--violet);
    background: linear-gradient(45deg, var(--violet) 40%, var(--pink) 70%, var(--orange) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.header {
    padding: var(--spacing-m);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .5);
}

.title {
    margin: 0;
    text-align: center;
    font-weight: normal;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title__icon {
    font-size: 60px;
    padding: var(--spacing-s);
    text-align: right;
}

.title__text {
    text-align: left;
    font-size: 30px;
    font-weight: lighter;
    padding: var(--spacing-s);
    border-left: 1px solid var(--black);
}

.main-nav {
    display: none;
    justify-content: flex-end;
}

.main-nav--visible {
    display: flex;
}

#js-timer {
    display: none;
    /*remove eventually*/
}

.main-nav__item {
    padding: var(--spacing-s);
    appearance: none;
    border: 0;
    background-color: transparent;
    color: var(--black);
    font-size: 40px;
    transition: transform linear .3s;
}

.main-nav__item:focus {
    transform: scale(1.2); 
}

@media (hover: hover) {
    .main-nav__item:hover {
        transform: scale(1.2); 
    }
}

.main-nav__item:not(:first-of-type) {
    border-left: 1px solid var(--black);
}

.main {
    max-width: 1200px;
    width: 100%;
    grid-column: 1 / span 1;
    justify-self: center;
    padding: var(--spacing-l);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.lesson-select {
    flex: 1 1 300px;
    margin: 5px;
    width: auto;
    font-size: 40px;
    padding: var(--spacing-m) 0 0;
    color: var(--black);
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 6px var(--black);
    background-color: var(--violet-medium);
    flex-wrap: wrap;
}

.lesson-select__main-heading {
    flex: 0 0 100%;
    text-align: center;
    padding: var(--spacing-m);
    font-weight:     font-weight: normal;
    ;
}

.lesson-select__title {
    width: 100%;
    padding: var(--spacing-m);
    margin: 0;
    text-align: center;
}

.lesson-select__button {
    transition: all .3s linear;
    background-color: var(--violet-light);
    border: 0;
    font-size: 18px;
    flex: 1 1 auto;
    padding: var(--spacing-m);
}

.lesson-select__button:not(:last-of-type) {
    border-right: 2px solid var(--violet-medium);
}

@media (hover: hover) {
    .lesson-select__button:hover {
        background-color: var(--green);
    }
}

.lesson-select__button:active {
    background-color: var(--violet-light);
}

.card {
    border-radius: var(--radius-outer);
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--violet-light);
    box-shadow: 3px 3px 12px var(--black);
    flex: 1 1 300px;
}

.card__header {
    margin: 0;
    font-weight: normal;
    padding: var(--spacing-l);
    font-size: 50px;
    color: white;
    background-color: var(--violet);
    background: linear-gradient(45deg, var(--violet) 40%, var(--pink) 70%, var(--orange) 100%);
}

.form {
    padding: var(--spacing-l);
}

.form__fieldset {
    border: 3px solid white;
    border-radius: var(--radius-inner);
    padding: var(--spacing-l);
    margin: var(--spacing-l) 0;
    display: flex;
    align-items: flex-end;
    
}

.form__legend {
    font-size: 16px;
}

.form__label {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form__input {
    padding: 0 var(--spacing-m);
    font-size: 30px;
    width: 50px;
    height: 48px;
    border: 0;
    border-bottom: 2px solid var(--violet);
    border-radius: 0;
    margin: var(--spacing-s);
    flex: 1 1 50px;
}

.form__label-text {
    margin: var(--spacing-s);
}

.button {
    appearance: none;
}

.button__submit {
    font-size: 20px;
    padding: var(--spacing-m);
    margin: var(--spacing-s);
    color: white;
    border-radius: var(--radius-inner);
    transition: all .3s linear;
    background-color: var(--violet);
    border: 3px solid var(--violet);
}

@media (hover: hover) {
    .button__submit:hover:not(:disabled) {
        background-color: var(--black);
        border-color: var(--black);
    }
}

.button__submit:active:not(:disabled) {
    background-color: var(--violet-light);
    color: var(--black);
}

.button__submit:disabled {
    opacity: .5;
}

.button__next {
    display: none;
    padding: var(--spacing-m);
    color: var(--black);
    transition: all .3s linear;
    background-color: var(--green);
    border: 3px solid var(--green);
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.button__next:after {
    display: block;
    content: '\232A';
    font-size: 40px;
}

@media (hover: hover) {
    .button__next:hover {
        background-color: var(--orange);
        border-color: var(--orange);
    }
}

.button__next:active {
    background-color: var(--green);
    border: 3px solid var(--green);
}

.button__next--visible {
    display: flex;
}

.button__new {
    display: none;
    padding: var(--spacing-m);
    color: var(--black);
    transition: all .3s linear;
    background-color: var(--orange);
    border: 3px solid var(--orange);
    overflow: hidden;
    align-items: center;
    justify-content: center; 
}

.button__new:after {
    display: block;
    content: '\21BB';
    font-size: 40px;
}

@media (hover: hover) {
    .button__new:hover {
        background-color: var(--pink);
        border-color: var(--pink);
    }
}

.button__new:active {
    background-color: var(--orange);
    border: 3px solid var(--orange);
}

.button__new--visible {
    display: flex;
}

.response {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--violet-medium);
}

.response__text {
    padding: var(--spacing-l);
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }